@media only screen and (max-width: 1599px) {

}

@media only screen and (max-width: 1199px) {
    #site-navigation{
        display: none;
    }
    .head-right .icon-bar{
        display: block;
    }
    .icon-search{
        margin-bottom: 0;
    }
    .content-bt-banner{
        width: 100%;
    }
    #video-home{
        min-height: 428px;
    }
    .item-img-animation img:nth-child(1) {
        width: 220px;
    }
    .item-img-animation img:nth-child(2) {
        left: 115px;
        top: -95px;
        width: 200px;
    }
    .item-img-animation img:nth-child(3) {
        right: -30px;
        width: 175px;
    }
    .item-product .left-product {
        padding: 100px 0;
    }
    .item-product .content-left {
        width: 70%;
    }
    .list-product .item-product:nth-child(even) .right-product .list-img-thuoc img {
        width: 175px;
        right: 100px;
    }
    .list-product .item-product:nth-child(odd) .right-product .list-img-thuoc{
        margin-left: 70px;
        margin-top: 50px;
    }
    .left-pro .ct {
        width: 80%;
    }
    .head-tech p{
        width: 50%;
    }
    .list-img-thuoc img{
        width: 230px;
    }
    .list-img-thuoc img:nth-child(2){
        width: 200px;
        left: 110px;
    }
    .list-img-thuoc img:nth-child(1){
        right: 0;
    }
}

@media only screen and (max-width: 1024px) {
    .item-img-animation img:nth-child(3) {
        right: -15px;
    }
    #banner {
        min-height: 560px;
    }
}

@media only screen and (max-width: 991px) {
    .item-img-animation img:nth-child(1) {
        width: 200px;
    }
    .item-img-animation img:nth-child(2) {
        left: 100px;
        top: -85px;
        width: 180px;
    }
    .item-img-animation img:nth-child(3) {
        right: -60px;
        width: 150px;
    }
    .list-img-thuoc img {
        width: 200px;
    }
    .list-img-thuoc img:nth-child(2) {
        width: 180px;
    }
    .list-product .item-product:nth-child(even) .right-product .list-img-thuoc img{
        width: 165px;
    }
    .item-product .left-product {
        padding: 70px 0;
    }
    /*#video-home {*/
    /*    min-height: 550px;*/
    /*}*/
    .ct-branch h4{
        height: 280px;
    }
    .item.active .ct-branch h4 {
        height: 280px;
    }
    .content-copyright{
        flex-direction: column;
        gap: 20px;
    }
    .content-list-product .item-product-p{
        flex-direction: column-reverse;
        padding: 30px 0;
    }
    .left-pro .ct {
        width: 100%;
    }
    .item-product-p .left-pro{
        margin-top: 40px;
    }
    .content-list-product .item-product-p:nth-child(even) .left-pro {
        order: 1;
    }
    .content-form{
        flex-direction: column;
    }
    .content-form .right-form{
        height: 500px;
        background-position: center;
    }
    .shortcode-form {
        padding: 56px 0;
    }
    .list-tp {
        gap: 20px;
    }
    .list-user-manual .item-manual{
        width: 49%;
    }
    .list-user-manual .item-manual:nth-child(4){
        clear: none;
    }
    .list-user-manual .item-manual:nth-child(3){
        clear: left;
    }
    .list-user-manual.custom-col-4 .item-manual{
        width: 50%;
    }
    .list-td.custom-col-2-3 .item-td:nth-child(3), .list-td.custom-col-2-3 .item-td:nth-child(4), .list-td.custom-col-2-3 .item-td:nth-child(5){
        width: 49%;
    }
}
@media only screen and (max-width: 800px) {


}

@media only screen and (max-width: 768px) {
    #tab-product-head{
        display: block;
    }
}

@media only screen and (max-width: 767px) {

    .content-menu-mobile #site-navigation{
        display: block;
    }
    .content-menu-mobile{
        padding: 100px 15px 15px 15px;
    }
    .content-menu-mobile .main-navigation ul{
        flex-direction: column;
    }
    .content-menu-mobile .main-navigation .menu li {
        margin-right: 0;
        padding-bottom: 20px;
    }
    .content-menu-mobile .main-navigation .menu li.menu-item-has-children:after{
        right: 0;
    }
    .content-menu-mobile .main-navigation .menu li .sub-menu{
        background-color: #fff;
        padding: 0;
        padding-left: 25px;
        box-shadow: none;
        border-radius: 0;
        margin-top: 0;
    }
    .content-menu-mobile .main-navigation .menu li .sub-menu li{
        padding: 0;
        border:none
    }
    .content-menu-mobile .main-navigation .menu li .sub-menu li a{
        padding-bottom: 0;
    }
    .main-navigation ul {
        display: flex;
    }
    #masthead{
        padding:24px 0;
    }
    /*#video-home {*/
    /*    min-height: 400px;*/
    /*}*/
    .list-thuong-hieu {
        flex-direction: column;
    }
    /*.ct-branch p{*/
    /*    display: block;*/
    /*}*/
    .ct-branch h4 span {
        width: 40%;
    }
    .item.active .ct-branch h4 {
        height: 320px;
    }
    /*.ct-branch h4 {*/
    /*    height: 350px;*/
    /*}*/
    .list-thuong-hieu .item {
        margin-bottom: 40px;
    }
    .item-product .left-product {
        padding: 50px 0;
    }
    .list-thuong-hieu{
        padding-top: 0;
    }
    .item-blog{
        /*border-radius: 8px 8px 0 0;*/
        margin-bottom: 32px;
        box-shadow: 2px 2px 16px 0px rgba(0, 0, 0, 0.12);
    }
    .item-blog .thumbnail img{
        width: 100%;
    }
    .content-item-blog{
        border-radius: 0 0 8px 8px;
    }
    .des-footer{
        padding-bottom: 56px;
    }
    .ct-mid{
        padding-bottom: 50px;
        padding-left: 0;
    }
    #banner {
        min-height: 850px;
        display: block;
    }
    #banner .content-left{
        padding-top: 80px;
    }
    .item-img-animation img:nth-child(1){
        top: 150px;
    }
    .item-img-animation img:nth-child(2){
        top: 55px;
    }
    .item-img-animation img:nth-child(3){
        top: 180px;
        left: 250px;
    }
    .item-product{
        display: block;
    }
    .item-product .right-product{
        min-height: 500px;
        justify-content: center;
    }
    .list-product .item-product:nth-child(odd) .right-product .list-img-thuoc{
        margin-left: -70px;
        margin-top: 50px;
    }
    .list-product .item-product:nth-child(even) .right-product{
        justify-content: center;
    }
    .list-product .item-product:nth-child(even) .right-product .list-img-thuoc img{
        right: 0;
    }
    #video-home{
        margin-top: 0;
    }
    .blog-top{
        justify-content: center;
    }
    .blog-top .read-more-light{
        display: none;
    }
    .top-box {
        gap: 40px;
        padding: 48px 0;
        flex-direction: column;
    }
    .top-box .thumbnail, .top-box .des, .top-box .thumbnail img {
        width: 100%;
    }
    .list-tp{
        display: block;
    }
    .list-tp .item-tp{
        float: left;
        width: 50%;
        text-align: center;
        margin-bottom: 40px;
    }
    .box-hq {
        flex-direction: column;
        gap: 40px;
    }
    .box-hq .right-box{
        width: 100%;
        padding-left: 0;
    }
    .cure h5{
        font-size: 16px;
    }
    .content-ttab h4{
        font-size: 18px;
    }
    .box-booking .content {
        width: 100%;
    }
    .head-tech p{
        width: 100%;
    }
    .head-booking p{
        font-size: 30px;
    }
    .content-form .lefr-form{
        padding: 0;
    }
    .box-tech-list .item-tech:nth-child(even) .des span{
        width: 100%;
        text-align: center;
    }
    .box-tech-list .item-tech:nth-child(odd) .des span{
        width: 100%;
        text-align: center;
    }
    .list-product .item-product:nth-child(even) .left-product{
        justify-content: center;
    }
    .list-product .item-product:nth-child(even) .left-product .content-left{
        width: 70%;
    }
    .link-more-mobile{
        display: block;
        margin-top: 30px;
    }
    .blog-pagination{
        text-align: center;
    }
    .blog-pagination .swiper-pagination-bullet-active{
        background-color: #324894;
        width: 50px;
        border-radius: 4px;
    }
    #footer-menu > li{
        width: 50%;
        float: left;
    }
    #banner .content-left .icon-title img{
        width: 245px;
    }
    .list-product .item-product:nth-child(odd){
        background-image: url("../images/bg2.webp")!important;
    }

    .list-product .item-product:nth-child(even){
        background-image: url("../images/bg1.webp")!important;
    }
    .list-item-after {
        flex-direction: column;
    }
    .content-hd .title-hd{
        font-size: 18px;
    }
    .list-user-manual .item-manual .title{
        width: 100%;
        padding: 0 10px;
    }
    .list-user-manual.custom-col-4 .item-manual .title{
        width: 100%;
    }
    .list-production{
        display: none;
    }
    .list-production-mobile{
        display: block;
        padding-left: 70px;
        position: relative;
    }
    .list-production-mobile:after{
        content: '';
        position: absolute;
        left: 35px;
        top: 0;
        width: 1px;
        height: 100%;
        background-color: #EDEDED;
    }
    .list-production-mobile .item-production{
        margin-bottom: 48px;
    }
    .list-production-mobile .item-production .thumbnail img{
        border-radius: 4px;
    }
    .list-production-mobile .item-production .thumbnail{
        margin-bottom: 16px;
    }
    .list-production-mobile .item-production .step{
        margin-bottom: 8px;
        font-weight: 600;
        color: #2E2E2E;
        text-transform: uppercase;
        position: relative;
    }
    .list-production-mobile .item-production .title{
        font-weight: 600;
        font-size: 16px;
    }
    .list-production-mobile .item-production .step:after{
        content: "";
        position: absolute;
        width: 17px;
        height: 23px;
        background-image: url(../images/water-active.svg);
        background-repeat: no-repeat;
        background-size: cover;
        left: -43px;
        z-index: 9;
    }
}

@media only screen and (max-width: 575px) {
    .des-title{
        font-size: 18px;
        width: 286px;
        margin-bottom: 32px;
    }
    .title-font{
        font-size: 30px;
    }
    #video-home {
        margin-top: 0;
    }
    .item-product .content-left {
        width: 90%;
    }
    .left-copy{
        text-align: center;
    }
    .list-td .item-td{
        width: 100%;
    }
    .item-tech{
        flex-direction: column;
    }
    .box-tech-list .item-tech:nth-child(odd) .des {
        order: 3;
    }
    .item-tech .des{
        width: 100%;
    }
    /*#video-home {*/
    /*    min-height: 242px;*/
    /*}*/
    #content-bottom-banner .title-font{
        width: 50%;
        margin: 0 auto;
        padding-bottom: 20px;
    }
    .content-bt-banner .des{
        width: 85%;
        margin: 0 auto;
    }
    .list-product .item-product:nth-child(even) .left-product .content-left{
        width: 90%;
    }
    .logo-footer img{
        width: 264px;
    }
    .des-footer{
        width: 250px;
    }
    #banner .content-left{
        padding-top: 50px;
    }
    .item-img-animation{
        margin-top: -60px;
    }
    #banner {
        min-height: 750px;
    }
    .list-product .item-product:nth-child(odd){
        background-position: bottom;
    }

    .list-product .item-product:nth-child(even){
        background-position: bottom;
    }
    .list-td.custom-col-2-3 .item-td:nth-child(3), .list-td.custom-col-2-3 .item-td:nth-child(4), .list-td.custom-col-2-3 .item-td:nth-child(5){
        width: 100%;
    }
}

@media only screen and (max-width: 560px) {
    #content-bottom-banner .title-font {
        width: 55%;
    }
}

@media only screen and (max-width: 500px) {
    .item-product .right-product{
        min-height: 450px;
    }
    .content-form .right-form {
        height: 474px;
    }
    .box-booking .content {
        padding-top: 40px;
        width: 95%;
    }
    .icon-gn-book {
        margin-bottom: 35px;
    }
    .content-booking {
        margin-bottom: 40px;
    }
    #content-bottom-banner .title-font{
        width: 60%;
    }
    .ct-branch h4{
        font-size: 24px;
    }
}

@media only screen and (max-width: 480px) {
    #content-bottom-banner .title-font {
        width: 80%;
    }
    .ct-branch h4 span{
        width: 50%;
    }
    .link-detail-hd a.read-more-light {
        padding: 8px 7px;
        font-size: 13px;
    }
}

@media only screen and (max-width: 375px) {

}

@media only screen and (max-width: 320px) {

}